USE [master]
GO
/****** Object:  Database [PrzychodniaDB]    Script Date: 06.06.2026 20:23:28 ******/
CREATE DATABASE [PrzychodniaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrzychodniaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PrzychodniaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrzychodniaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PrzychodniaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrzychodniaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrzychodniaDB]
GO



CREATE TABLE [dbo].[SL_ROLE](
	[IdRoli] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([IdRoli] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UZYTKOWNICY](
	[IdUzytkownika] [int] IDENTITY(1,1) NOT NULL,
	[IdRoli] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[HasloHash] [nvarchar](255) NOT NULL,
	[CzyAktywny] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED ([IdUzytkownika] ASC),
UNIQUE NONCLUSTERED ([Login] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[AUDYT](
	[IdLogu] [int] IDENTITY(1,1) NOT NULL,
	[IdUzytkownika] [int] NOT NULL,
	[Akcja] [nvarchar](100) NOT NULL,
	[DataLogu] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED ([IdLogu] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LEKARZE](
	[IdUzytkownika] [int] NOT NULL,
	[NumerPWZ] [char](7) NOT NULL,
PRIMARY KEY CLUSTERED ([IdUzytkownika] ASC),
UNIQUE NONCLUSTERED ([NumerPWZ] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PACJENCI](
	[IdPacjenta] [int] IDENTITY(1,1) NOT NULL,
	[Pesel] [char](11) NOT NULL,
	[Imie] [nvarchar](50) NOT NULL,
	[Nazwisko] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Adres] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED ([IdPacjenta] ASC),
UNIQUE NONCLUSTERED ([Pesel] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SL_ICD10](
	[Kod] [nvarchar](10) NOT NULL,
	[Opis] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED ([Kod] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SL_STATUSY](
	[IdStatusu] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED ([IdStatusu] ASC),
UNIQUE NONCLUSTERED ([Nazwa] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SL_USLUGI](
	[IdUslugi] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](100) NOT NULL,
	[CenaAktualna] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED ([IdUslugi] ASC)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WIZYTY](
	[IdWizyty] [int] IDENTITY(1,1) NOT NULL,
	[IdPacjenta] [int] NOT NULL,
	[IdLekarza] [int] NOT NULL,
	[IdStatusu] [int] NOT NULL,
	[KodICD10] [nvarchar](10) NULL,
	[DataStart] [datetime] NOT NULL,
	[DataKoniec] [datetime] NOT NULL,
	[Zalecenia] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED ([IdWizyty] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[WIZYTY_USLUGI](
	[IdPozycji] [int] IDENTITY(1,1) NOT NULL,
	[IdWizyty] [int] NOT NULL,
	[IdUslugi] [int] NOT NULL,
	[CenaHistoryczna] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED ([IdPozycji] ASC)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AUDYT] WITH CHECK ADD CONSTRAINT [FK_Audyt_Uzytkownik] FOREIGN KEY([IdUzytkownika]) REFERENCES [dbo].[UZYTKOWNICY] ([IdUzytkownika])
GO
ALTER TABLE [dbo].[LEKARZE] WITH CHECK ADD CONSTRAINT [FK_Lekarz_Uzytkownik] FOREIGN KEY([IdUzytkownika]) REFERENCES [dbo].[UZYTKOWNICY] ([IdUzytkownika])
GO
ALTER TABLE [dbo].[UZYTKOWNICY] WITH CHECK ADD CONSTRAINT [FK_Uzytkownik_Rola] FOREIGN KEY([IdRoli]) REFERENCES [dbo].[SL_ROLE] ([IdRoli])
GO
ALTER TABLE [dbo].[WIZYTY] WITH CHECK ADD CONSTRAINT [FK_Wizyta_ICD10] FOREIGN KEY([KodICD10]) REFERENCES [dbo].[SL_ICD10] ([Kod])
GO
ALTER TABLE [dbo].[WIZYTY] WITH CHECK ADD CONSTRAINT [FK_Wizyta_Lekarz] FOREIGN KEY([IdLekarza]) REFERENCES [dbo].[LEKARZE] ([IdUzytkownika])
GO
ALTER TABLE [dbo].[WIZYTY] WITH CHECK ADD CONSTRAINT [FK_Wizyta_Pacjent] FOREIGN KEY([IdPacjenta]) REFERENCES [dbo].[PACJENCI] ([IdPacjenta])
GO
ALTER TABLE [dbo].[WIZYTY] WITH CHECK ADD CONSTRAINT [FK_Wizyta_Status] FOREIGN KEY([IdStatusu]) REFERENCES [dbo].[SL_STATUSY] ([IdStatusu])
GO
ALTER TABLE [dbo].[WIZYTY_USLUGI] WITH CHECK ADD CONSTRAINT [FK_Pozycja_Usluga] FOREIGN KEY([IdUslugi]) REFERENCES [dbo].[SL_USLUGI] ([IdUslugi])
GO
ALTER TABLE [dbo].[WIZYTY_USLUGI] WITH CHECK ADD CONSTRAINT [FK_Pozycja_Wizyta] FOREIGN KEY([IdWizyty]) REFERENCES [dbo].[WIZYTY] ([IdWizyty])
GO

ALTER TABLE [dbo].[PACJENCI] WITH CHECK ADD CHECK ((len([Pesel])=(11)))
GO
ALTER TABLE [dbo].[SL_USLUGI] WITH CHECK ADD CHECK (([CenaAktualna]>=(0)))
GO
ALTER TABLE [dbo].[WIZYTY] WITH CHECK ADD CONSTRAINT [CHK_CzasWizyty] CHECK (([DataKoniec]>[DataStart]))
GO
ALTER TABLE [dbo].[WIZYTY_USLUGI] WITH CHECK ADD CHECK (([CenaHistoryczna]>=(0)))
GO


SET IDENTITY_INSERT [dbo].[SL_ROLE] ON 
INSERT [dbo].[SL_ROLE] ([IdRoli], [Nazwa]) VALUES (1, N'Lekarz')
INSERT [dbo].[SL_ROLE] ([IdRoli], [Nazwa]) VALUES (2, N'Recepcjonista')
INSERT [dbo].[SL_ROLE] ([IdRoli], [Nazwa]) VALUES (3, N'Administrator')
SET IDENTITY_INSERT [dbo].[SL_ROLE] OFF
GO

SET IDENTITY_INSERT [dbo].[SL_STATUSY] ON 
INSERT [dbo].[SL_STATUSY] ([IdStatusu], [Nazwa]) VALUES (1, N'Zaplanowana')
INSERT [dbo].[SL_STATUSY] ([IdStatusu], [Nazwa]) VALUES (2, N'Zakończona')
INSERT [dbo].[SL_STATUSY] ([IdStatusu], [Nazwa]) VALUES (3, N'Odwołana')
SET IDENTITY_INSERT [dbo].[SL_STATUSY] OFF
GO


SET IDENTITY_INSERT [dbo].[UZYTKOWNICY] ON
INSERT [dbo].[UZYTKOWNICY] ([IdUzytkownika], [IdRoli], [Login], [HasloHash], [CzyAktywny]) VALUES (1, 1, N'Login_Medyk', N'BezpieczneHasloLekarza123!', 1)
INSERT [dbo].[UZYTKOWNICY] ([IdUzytkownika], [IdRoli], [Login], [HasloHash], [CzyAktywny]) VALUES (2, 2, N'Login_Recepcja', N'Recepcja123!', 1)
INSERT [dbo].[UZYTKOWNICY] ([IdUzytkownika], [IdRoli], [Login], [HasloHash], [CzyAktywny]) VALUES (3, 3, N'Login_Admin', N'Admin123!', 1)
SET IDENTITY_INSERT [dbo].[UZYTKOWNICY] OFF
GO

INSERT [dbo].[LEKARZE] ([IdUzytkownika], [NumerPWZ]) VALUES (1, '1234567')
GO


INSERT [dbo].[PACJENCI] ([Pesel], [Imie], [Nazwisko], [Telefon], [Adres]) 
VALUES ('90010112345', N'Jan', N'Kowalski', '123456789', N'Bielsko-Biała, Prosta 5')
GO


GO
CREATE TRIGGER [dbo].[TRG_BlokadaTerminow]
ON [dbo].[WIZYTY]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (
        SELECT 1 
        FROM WIZYTY w
        INNER JOIN inserted i ON w.IdLekarza = i.IdLekarza AND w.IdWizyty <> i.IdWizyty
        WHERE (i.DataStart < w.DataKoniec AND i.DataKoniec > w.DataStart)
    )
    BEGIN
        RAISERROR ('Blad walidacji: Lekarz ma juz zaplanowana wizyte w tych godzinach!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO

CREATE TRIGGER [dbo].[TRG_AudytWizyt]
ON [dbo].[WIZYTY]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @AdminID INT = 3; -- Domyślne ID Admina z insertu

    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'UTWORZONO WIZYTĘ: Pacjent ID ' + CAST(i.IdPacjenta AS VARCHAR(10)) + ' na dzień ' + CONVERT(VARCHAR(20), i.DataStart, 120), @AdminID FROM inserted i;
    END

    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'ZMODYFIKOWANO WIZYTĘ (ID: ' + CAST(i.IdWizyty AS VARCHAR(10)) + ')', @AdminID FROM inserted i;
    END

    IF EXISTS (SELECT 1 FROM deleted) AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'USUNIĘTO WIZYTĘ (ID: ' + CAST(d.IdWizyty AS VARCHAR(10)) + ')', @AdminID FROM deleted d;
    END
END;
GO

CREATE TRIGGER [dbo].[TRG_AudytPacjentow]
ON [dbo].[PACJENCI]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @AdminID INT = 3;

    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'DODANO PACJENTA: ' + i.Imie + ' ' + i.Nazwisko + ' (PESEL: ' + i.Pesel + ')', @AdminID FROM inserted i;
    END

    IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'ZMODYFIKOWANO DANE PACJENTA: ' + i.Imie + ' ' + i.Nazwisko, @AdminID FROM inserted i;
    END

    IF EXISTS (SELECT 1 FROM deleted) AND NOT EXISTS (SELECT 1 FROM inserted)
    BEGIN
        INSERT INTO AUDYT (DataLogu, Akcja, IdUzytkownika)
        SELECT GETDATE(), 'USUNIĘTO PACJENTA Z BAZY: ' + d.Imie + ' ' + d.Nazwisko, @AdminID FROM deleted d;
    END
END;
GO


CREATE PROCEDURE [dbo].[sp_DodajUslugeDoWizyty]
    @IdWizyty INT,
    @IdUslugi INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION; 
        DECLARE @CenaAktualna DECIMAL(10,2);
        SELECT @CenaAktualna = CenaAktualna FROM SL_USLUGI WHERE IdUslugi = @IdUslugi;

        INSERT INTO WIZYTY_USLUGI (IdWizyty,